* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* normalizar el css: darle estilos básicos a los componentes para pisar los estilos que vienen por default en los navegadores) */
/* lo que hacemos acá, es ponerle a todos los elementos del documento un margin y padding 0 y con box-sizing le decímos al documento
 que el borde de cada div sea el de la caja y no el del contenido. */

/*navbar*/

.icono {
    font-size: 1.5rem;
    color: grey;   
}

/*banner*/

.portada {
    width: 90rem;
    height: 25rem;
}

.cara {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    position: absolute;
    top: 25rem;
    right: 73rem;
}

/*article*/

article a {
    color:black;
}





